@import 'variables';
@import '../mixins/patterns';
@import '../utils';

@mixin sidenavContainerTheme() {
  --mat-sidenav-content-background-color: #{$color-background};
}
@mixin sidenavTheme() {
  --mat-sidenav-content-background-color: #{$color-background};
  @include gridYellow();
  border-right: $retro-border-thick;
  border-radius: 0 !important;
}
