@import 'variables';

@mixin toolbarTheme() {
  --mat-toolbar-container-background-color: #{$retro-white};
  --mat-toolbar-standard-height: 100px;
  transition: border 0.02s ease-in-out;
  border-bottom: solid 4px #{$color-on-surface};
}
