<div class="box">
  <div class="title">
    What is Devfest?
  </div>
  <div class="content">
    DevFest is not just a festival or conference; it’s a high-energy event that brings together a diverse range of tech
    professionals. Known for its unique blend of ideas, opportunities, knowledge, and connections, DevFest is a premier
    gathering for developers, designers, and product leaders.
<br>
<br>
    While we pride ourselves on being a major tech event, our true goal is to remain highly relevant to our audience. We
    focus on delivering meaningful content and fostering valuable connections that drive innovation and growth. Join us
    to explore the latest advancements, gain insights from industry leaders, and connect with a community passionate
    about technology.
  </div>
</div>
