<div class="ticket-wrap" id="tickets">
  @for (ticket of TICKETS; track ticket) {
    <div class="box ticket" [ngClass]="{'sold': ticket.soldOut}">
      <h3 class="ticket-title">{{ ticket.title }}</h3>
      <ul class="points">
        @for (point of ticket.points; track point) {
          <li class="point">{{ point }}</li>
        }
      </ul>
      <div class="spacer"></div>
      <div class="price">
        <div class="date">{{ ticket.price.footnote }}</div>
        <div class="base">{{ ticket.price.base }}</div>
        <div class="action">{{ ticket.price.action }}</div>
      </div>
      <a class="link-btn-wrap"
         (click)="openLink(ticket.link,ticket.title)"
         target="_blank">
        <button
          type="button"
          aria-label="call for proposals"
          retro-button
          class="menu"
          [disabled]="ticket.soldOut"
          size="small"
        >
          Buy Now
        </button>
      </a>
      @if (ticket.soldOut) {
        <div class="sold-out">
          Sold Out
        </div>
      }
    </div>
  }
</div>
