<div class="drawer-wrap">
  <div class="brand">
    <img ngSrc="image/logo_city.svg" alt="" width="440.406" height="282.785">
  </div>
  <div class="actions">
    <div class="links">
      <ul>
        @for (link of LINKS; track link) {
          <li [routerLink]="[link.link]" routerLinkActive="active" >
            {{ link.title }}
          </li>
        }
      </ul>
      <div class="highlighter"></div>
    </div>
    <button
      (click)="scrollToTicket('tickets')"
      type="button"
      [color]="AppColors.WHITE"
      aria-label="call for proposals"
      retro-button
      class="menu">
      Buy Tickets
    </button>
<!--    <button retro-button class="ticket-button" [color]="AppColors.WHITE">-->
<!--      Get Tickets-->
<!--    </button>-->
  </div>
</div>
