<div class="drawer-wrap">
  <div class="brand">
    <img ngSrc="image/logo_city.svg" alt="" width="440.406" height="282.785">
  </div>
  <div class="actions">
    <div class="links">
      <ul>
        @for (link of LINKS; track link) {
          <li [ngClass]="{'active':(route.fragment|async)==link.link}" (click)="navigateTo(link.link)">
            {{ link.title }}
          </li>
        }
      </ul>
      <div class="highlighter" #highlighter></div>
    </div>
    <button retro-button class="ticket-button" [color]="AppColors.WHITE">
      Get Tickets
    </button>
  </div>
</div>
