<div class="header-wrap" [ngClass]="{'isMobile': isMobile$|async, 'isTablet': isTab$|async}">
  <div class="header-logo">
    <img ngSrc="image/df_date.svg" width="500" height="500" alt="" class="bg-elem" priority>
  </div>

  <div class="call-to-action">
    <a class="link-btn-wrap"
       href="https://sessionize.com/gdg-gandhinagar-devfest-2024"
       target="_blank" #link>
      <button
        type="button"
        [color]="AppColors.WHITE"
        aria-label="call for proposals"
        retro-button
        class="menu">
        Call For Speakers
      </button>
    </a>
  </div>
  <div class="call-to-action">
    <div class="box caption">
      <h1 class="text">Tickets Coming soon</h1>
    </div>
  </div>
  <div class="caption-wrap">
    <div class="box caption">
      <h1 class="text">An amazing Day of impactful ideas,<br> actionable insights, inspiring connections</h1>
    </div>
    <div class="content">
      @for (box of HEADER_TEXT.boxes; track box) {
        <div class="box">
          <div class="text">
            {{ box.value }}
          </div>
          <div class="text-title">{{ box.title }}</div>
        </div>
      }
    </div>
  </div>
</div>
