<div class="header-wrap" [ngClass]="{'isMobile': isMobile$|async, 'isTablet': isTab$|async}">
  <div class="header-logo">
    <img ngSrc="image/df_date.svg" width="500" height="500" alt="" class="bg-elem" priority>
  </div>
  <div class="call-to-action">
    <div class="box caption">
      <h1 class="text">Tickets comming soon</h1>
    </div>
    <!--    <button-->
    <!--      type="button"-->
    <!--      aria-label="buy tickets"-->
    <!--      retro-button-->
    <!--      [color]="AppColors.WHITE"-->
    <!--      class="menu">-->
    <!--      Buy Tickets-->
    <!--    </button>-->
    <!--    <button-->
    <!--      type="button"-->
    <!--      [color]="AppColors.WHITE"-->
    <!--      aria-label="buy tickets"-->
    <!--      retro-button-->
    <!--      class="menu">-->
    <!--      Call For Speakers-->
    <!--    </button>-->
  </div>
  <div class="caption-wrap">
    <div class="box caption">
      <h1 class="text">An amazing Day of impactful ideas,<br> actionable insights, inspiring connections</h1>
    </div>
    <div class="content">
      @for (box of HEADER_TEXT.boxes; track box) {
        <div class="box">
          <div class="text">
            {{ box.value }}
          </div>
          <div class="text-title">{{ box.title }}</div>
        </div>
      }
    </div>
  </div>
</div>
