@import "variables"
@import "mixins/patterns"
@import "utils"

.header-wrap
  width: 100%
  display: flex
  justify-content: space-around
  flex-direction: column
  align-items: center
  gap: 50px
  padding: 0 20px
  box-sizing: border-box
  min-height: calc(100vh - 100px)
  max-width: 1400px
  margin: 0 auto


  .header-logo
    display: flex
    justify-content: center
    align-items: center
    margin-top: 20px
    width: 100%

    img
      width: 100%
      height: 100%
      max-width: 600px
      object-fit: contain

  .call-to-action
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    gap: 20px

  .caption-wrap
    display: flex
    gap: 20px
    width: 100%

    .caption
      padding: 30px
      font-family: 'GSB'
      flex: 1

      .text
        font-size: 2.5rem
        margin: 0

    .content
      flex: 1
      display: grid
      grid-template-columns: repeat(auto-fit, minmax(135px, 1fr))
      grid-template-rows: auto
      grid-column-gap: 15px
      grid-row-gap: 15px

  &.isMobile, &.isTablet
    .caption-wrap
      flex-direction: column


      .caption, .content
        flex: auto

  &.isMobile
    .caption-wrap
      .caption
        .text
          font-size: 2rem
