<div class="sponsors-wrap" [ngClass]="{'isMobile': isMobile$|async, 'isTab': isTab$|async}">
  <h1 class="title title-stroke">
    Our Sponsors
  </h1>
  <div class="sponsors-cat-wrap">
    <div class="box-wrap">
      <div class="cat-title">
        Title Sponsors
      </div>
      <div class="boxes-wrapper">
        @for (sponsor of SPONSORS.title; track sponsor) {
          <a [href]="sponsor.link" target="_blank">
            <div class="sponsor box">
              <img [ngSrc]="sponsor.photo" [alt]="sponsor.title" width="200" height="100"/>
            </div>
          </a>
        }
      </div>
    </div>
    <div class="box-wrap">
      <div class="cat-title">
        Venue Partners
      </div>
      <div class="boxes-wrapper">
        @for (sponsor of SPONSORS.venue; track sponsor) {
          <a [href]="sponsor.link" target="_blank">
            <div class="sponsor box">
              <img [ngSrc]="sponsor.photo" [alt]="sponsor.title" width="200" height="100"/>
            </div>
          </a>
        }
      </div>
    </div>
    <div class="box-wrap">
      <div class="cat-title">
        Ticketing Partners
      </div>
      <div class="boxes-wrapper">
        @for (sponsor of SPONSORS.ticketing; track sponsor) {
          <a [href]="sponsor.link" target="_blank">
            <div class="sponsor box">
              <img [ngSrc]="sponsor.photo" [alt]="sponsor.title" width="200" height="100"/>
            </div>
          </a>
        }
      </div>
    </div>
  </div>
</div>
