<div class="box" [ngClass]="{'isMobile': isMobile$|async, 'isTab': isTab$|async}">
  @if (!((isMobile$|async) || (isTab$|async))) {
    <img ngSrc="image/calender.svg" alt="" width="250" height="250" class="char">
  }
  <img ngSrc="image/rainbow.svg" alt="" width="250" height="250" class="bg-elem">
  <div class="title">
    <h3>
      Not sure how to convince your boss?
    </h3>
    <a class="link-btn-wrap"
      href="https://raw.githubusercontent.com/GDG-GANDHINAGAR/devfest24/refs/heads/main/public/assets/DF_24_why_attend.pdf"
      target="_blank" #link>
      <button retro-button>
        Download this guide to know how
      </button>
    </a>
  </div>
</div>

