<div class="about-wrap" [ngClass]="{'isPortable': isPortable$|async}">
  <div class="title">
    <img src="./assets/images/devfest_at_glance.svg" alt="devfest at glance">
  </div>
  <div class="content">
    <div class="boxes">
      @for (box of [1, 2, 3, 4, 5]; track box) {
        <div class="box">
          <div class="text">
            500+
          </div>
          <div class="text-title">Attendees</div>
        </div>
      }
    </div>
    <div class="details">
      DevFest Gandhinagar, hosted by Google Developers Group, is where innovation meets expertise! Dive into an
      immersive experience as top-tier experts in Mobile, Web, and Cloud technologies converge in Gandhinagar. Get ready
      for a dynamic lineup of sessions, hands-on workshops, and cutting-edge showcases that will spark your creativity
      and elevate your skills. Don’t miss this exciting opportunity to connect, learn, and be inspired by the best in
      the industry!
    </div>
  </div>
</div>
