:root, :host {
  --sys-background: #fff8f4;
  --sys-on-background: #211a14;
  --sys-surface: #fff8f4;
  --sys-surface-dim: #e6d7cd;
  --sys-surface-bright: #fff8f4;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #fff1e7;
  --sys-surface-container: #faebe0;
  --sys-surface-container-high: #f4e6da;
  --sys-surface-container-highest: #eee0d5;
  --sys-on-surface: #211a14;
  --sys-surface-variant: #f2dfd1;
  --sys-on-surface-variant: #51443a;
  --sys-inverse-surface: #372f28;
  --sys-inverse-on-surface: #fdeee3;
  --sys-outline: #837469;
  --sys-outline-variant: #d5c3b6;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #865319;
  --sys-primary: #865319;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #ffdcbf;
  --sys-on-primary-container: #6a3c01;
  --sys-inverse-primary: #fdb876;
  --sys-secondary: #87521a;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #ffdcc0;
  --sys-on-secondary-container: #6a3b02;
  --sys-tertiary: #556423;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #d8eb9a;
  --sys-on-tertiary-container: #3e4c0c;
  --sys-error: #904a43;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad5;
  --sys-on-error-container: #73342d;
  --sys-neutral: #80756c;
  --sys-neutral-variant: #837468;
  --sys-primary-fixed: #ffdcbf;
  --sys-primary-fixed-dim: #fdb876;
  --sys-on-primary-fixed: #2d1600;
  --sys-on-primary-fixed-variant: #6a3c01;
  --sys-secondary-fixed: #ffdcc0;
  --sys-secondary-fixed-dim: #feb877;
  --sys-on-secondary-fixed: #2d1600;
  --sys-on-secondary-fixed-variant: #6a3b02;
  --sys-tertiary-fixed: #d8eb9a;
  --sys-tertiary-fixed-dim: #bccf81;
  --sys-on-tertiary-fixed: #171e00;
  --sys-on-tertiary-fixed-variant: #3e4c0c;
  --sys-inverse-secondary: #feb877;
  --sys-inverse-tertiary: #bccf81;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}
