<div class="inner-wrap" [ngClass]="{isMobile: (isHandset$|async)}">
  @if (isHandset$ | async) {
    <button
      type="button"
      aria-label="Toggle sidenav"
      retro-button
      class="menu"
      [icon]="true"
      (click)="toggleDrawer()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  }
  <div class="brand" [ngClass]="{center: (isHandset$|async)}">
    <img src="./assets/images/logo.svg" alt="">
  </div>
  <div class="actions">
    @if (!(isHandset$|async)) {
      <ul class="links">
        @for (link of LINKS; track link) {

          <li [routerLink]="['#']">
            {{ link.title }}
          </li>
        }
      </ul>
      <button retro-button>
        Get Tickets
      </button>
    }
  </div>
</div>
